/* ------ CSS - Game 9 - Point & Shoot ------ */

::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(
    to top,
    rgba(255, 8, 68, 1) 0%,
    rgba(255, 177, 153, 1) 100%
  ); /* #ff0844 rgba(255, 8, 68, 0.5) & #ffb199 rgba(255, 177, 153, 0.5)  */
  background: url(img/silvana-amicone-unsplash.jpg) center/cover no-repeat;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#collisionCanvas {
  opacity: 0;
}
